.tag{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    border-radius: 16px;
    padding: 7px;
    &:nth-child(1){
      background-color: #F9F5FF;
      color: #6941C6;
    }
    &:nth-child(2){
      background-color: #EEF4FF;
      color: #3538CD;
    }
    &:nth-child(3){
      background-color: #FDF2FA;
      color: #C11574;
    }
    &:nth-child(4) {
      background-color: #FDF2FA;
      color: #C11574;
    }
  }