.blog {

    &__author {
        &-name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #7F56D9;
        }
    }
    img {
        margin-bottom: 32px;
        width: 1216px;
        height: 418px;
        max-width: 100%;
        object-fit: contain;
    }
    &__card {
        &-author {
            font-weight: 600;
            font-size: 14px;
            color: #6941C6;
            margin-bottom: 8px;
            margin-top: 96px;
            text-align: center;
        }
        &-title {
            font-weight: 400;
            font-size: 48px;
            text-align: center;
            letter-spacing: -.02em;
            color: #101828;
            margin-top: 12px;
        }
        &-description {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #475467;
            margin-top: 24px;
        }
        &-tags {
            display: flex;
            gap: 8px;
            justify-content: center;
            margin-top: 40px;
        }

        &-img {
            margin-top: 66px;
        }
    }
}